admin-dashboard/admindashboard.json
[{"id":"96b48d07.77ebd8","type":"tab","label":"IBMi_AdminDashboard","disabled":false,"info":""},{"id":"7672969c.20b73","type":"ui_chart","z":"96b48d07.77ebd8","name":"","group":"24152ea0.f54a12","order":1,"width":"0","height":"0","label":"Top 10 CPU (%)","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":900,"y":440,"wires":[[]]},{"id":"a077d2bb.613538","type":"inject","z":"96b48d07.77ebd8","name":"Top 10 CPU consumers","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"SELECT JOB_NAME, ELAPSED_CPU_PERCENTAGE     FROM TABLE(ACTIVE_JOB_INFO()) x     ORDER BY ELAPSED_CPU_PERCENTAGE DESC     FETCH FIRST 10 ROWS ONLY;","payloadType":"str","x":250,"y":500,"wires":[["a7d62ede.8d3498"]]},{"id":"5b090e60.737ec8","type":"function","z":"96b48d07.77ebd8","name":"Prepare Data","func":"var m = {};\n\nm.series =[];\nm.data=[];\nm.labels=[];\nvar datatemp=[]; \nmsg.payload.forEach(function(row) {\n    datatemp.push(parseFloat(row.ELAPSED_CPU_PERCENTAGE) * 10);\n    m.labels.push(row.JOB_NAME);\n});\nm.data.push(datatemp);\nm.series.push(\"CPU usage\");\n\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":686,"y":460,"wires":[["7672969c.20b73"]]},{"id":"18c94c13.fe734c","type":"ui_chart","z":"96b48d07.77ebd8","name":"","group":"24152ea0.f54a12","order":3,"width":"5","height":"5","label":"Top 10 ASP Storage","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"0","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":918,"y":499,"wires":[[]]},{"id":"ab3ad59.025b228","type":"inject","z":"96b48d07.77ebd8","name":"Top 10 Storage consumers","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":"2.1","topic":"Storage","payload":"SELECT A.AUTHORIZATION_NAME, SUM(A.STORAGE_USED) AS TOTAL_STORAGE_USED, B.TEXT_DESCRIPTION,     B.ACCOUNTING_CODE, B.MAXIMUM_ALLOWED_STORAGE     FROM QSYS2.USER_STORAGE A INNER     JOIN QSYS2.USER_INFO B ON B.USER_NAME = A.AUTHORIZATION_NAME     WHERE B.USER_NAME NOT LIKE 'Q%'     GROUP BY A.AUTHORIZATION_NAME, B.TEXT_DESCRIPTION, B.ACCOUNTING_CODE, B.MAXIMUM_ALLOWED_STORAGE     ORDER BY TOTAL_STORAGE_USED DESC     FETCH FIRST 10 ROWS ONLY;","payloadType":"str","x":240,"y":560,"wires":[["8752f204.53661"]]},{"id":"bc03d826.7ba71","type":"function","z":"96b48d07.77ebd8","name":"Prepare Data","func":"var m = {};\n\nm.series =[];\nm.data=[];\nm.labels=[];\nvar datatemp=[]; \nmsg.payload.forEach(function(row) {\n    datatemp.push(parseInt(row.TOTAL_STORAGE_USED));\n    m.labels.push(row.AUTHORIZATION_NAME);\n});\nm.data.push(datatemp);\nm.series.push(\"Storage usage\");\n\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":684,"y":519,"wires":[["18c94c13.fe734c"]]},{"id":"7b7c5452.5a9354","type":"ui_chart","z":"96b48d07.77ebd8","name":"","group":"24152ea0.f54a12","order":2,"width":"0","height":"0","label":"Top 10 Temp Storage (MB)","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":939,"y":557,"wires":[[]]},{"id":"b136b5fb.99d3a8","type":"inject","z":"96b48d07.77ebd8","name":"Top 10 Temp Storage consumers","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5.1","topic":"Memory","payload":"SELECT JOB_NAME, AUTHORIZATION_NAME, TEMPORARY_STORAGE, J.*     FROM TABLE(QSYS2.ACTIVE_JOB_INFO()) J     WHERE JOB_TYPE <> 'SYS'     ORDER BY TEMPORARY_STORAGE DESC LIMIT 10;","payloadType":"str","x":220,"y":619,"wires":[["d04bee4b.b187d"]]},{"id":"225fbb66.7a070c","type":"function","z":"96b48d07.77ebd8","name":"Prepare Data","func":"var m = {};\n\nm.series =[];\nm.data=[];\nm.labels=[];\nvar datatemp=[]; \nmsg.payload.forEach(function(row) {\n    datatemp.push(parseInt(row.TEMPORARY_STORAGE));\n    m.labels.push(row.JOB_NAME);\n});\nm.data.push(datatemp);\nm.series.push(\"Temp storage usage\");\n\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":685,"y":577,"wires":[["7b7c5452.5a9354"]]},{"id":"ad734b90.a4c3e8","type":"ui_gauge","z":"96b48d07.77ebd8","name":"ASP","group":"e348f2a4.8e18d8","order":2,"width":"4","height":"4","gtype":"donut","title":"ASP Usage","label":"%","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":810,"y":200,"wires":[]},{"id":"5b65f1c0.0700b8","type":"inject","z":"96b48d07.77ebd8","name":"ASP Usage","props":[{"p":"payload","v":"WITH sysval(low_limit)     AS (SELECT current_numeric_value / 10000.0 AS QSTGLOWLMT             FROM qsys2.system_value_info             WHERE system_value_name = 'QSTGLOWLMT')     SELECT SYSTEM_ASP_USED FROM sysval, qsys2.SYSTEM_STATUS_INFO;","vt":"str"},{"p":"topic","v":"ASP","vt":"string"}],"repeat":"1800","crontab":"","once":true,"onceDelay":"0.1","topic":"ASP","payload":"WITH sysval(low_limit)     AS (SELECT current_numeric_value / 10000.0 AS QSTGLOWLMT             FROM qsys2.system_value_info             WHERE system_value_name = 'QSTGLOWLMT')     SELECT SYSTEM_ASP_USED FROM sysval, qsys2.SYSTEM_STATUS_INFO;","payloadType":"str","x":250,"y":260,"wires":[["76d0f80c.5e8748"]]},{"id":"76d0f80c.5e8748","type":"DB2 for i","z":"96b48d07.77ebd8","mydb":"1ffd3699.664899","name":"Local_DB","arraymode":true,"x":432,"y":245,"wires":[["fca5f04a.cb1c58"]]},{"id":"fca5f04a.cb1c58","type":"function","z":"96b48d07.77ebd8","name":"Prepare Data","func":"var value = parseInt(msg.payload[0].SYSTEM_ASP_USED);\nreturn {payload:[value]};","outputs":1,"noerr":0,"x":625,"y":220,"wires":[["ad734b90.a4c3e8"]]},{"id":"d04bee4b.b187d","type":"DB2 for i","z":"96b48d07.77ebd8","mydb":"1ffd3699.664899","name":"Local_DB","arraymode":true,"x":489,"y":602,"wires":[["225fbb66.7a070c"]]},{"id":"8752f204.53661","type":"DB2 for i","z":"96b48d07.77ebd8","mydb":"1ffd3699.664899","name":"Local_DB","arraymode":true,"x":488,"y":544,"wires":[["bc03d826.7ba71"]]},{"id":"a7d62ede.8d3498","type":"DB2 for i","z":"96b48d07.77ebd8","mydb":"1ffd3699.664899","name":"","arraymode":true,"x":480,"y":485,"wires":[["5b090e60.737ec8","54149c8e.70f134"]]},{"id":"74456c.7a1a2a94","type":"inject","z":"96b48d07.77ebd8","name":"Scheduled Jobs for Current Day","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":"5.1","topic":"Scheduled Jobs","payload":"SELECT SCHEDULED_JOB_NAME,DESCRIPTION,SCHEDULED_TIME,COMMAND_STRING      FROM QSYS2.SCHEDULED_JOB_INFO      WHERE STATUS = 'SCHEDULED' and NEXT_SUBMISSION_DATE >= current date and SCHEDULED_TIME > current time     order by SCHEDULED_DATE,SCHEDULED_TIME;","payloadType":"str","x":220,"y":880,"wires":[["4fad8fa4.de575"]]},{"id":"4fad8fa4.de575","type":"DB2 for i","z":"96b48d07.77ebd8","mydb":"1ffd3699.664899","name":"Local_DB","arraymode":true,"x":485,"y":859,"wires":[["e1ac293d.47dd28"]]},{"id":"e1ac293d.47dd28","type":"ui_table","z":"96b48d07.77ebd8","group":"27537136.147efe","name":"Scheduled Jobs for Current Day","order":2,"width":"12","height":"4","columns":[],"outputs":0,"cts":false,"x":750,"y":840,"wires":[]},{"id":"5257beac.e1af","type":"inject","z":"96b48d07.77ebd8","name":"Job Queues with Active Jobs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":true,"onceDelay":"5.1","topic":"Queues with Active Jobs","payload":"select JOB_QUEUE_NAME, ACTIVE_JOBS, TEXT_DESCRIPTION from QSYS2.JOB_QUEUE_INFO where ACTIVE_JOBS > 0 order by JOB_QUEUE_NAME","payloadType":"str","x":230,"y":940,"wires":[["cccfa48a.9bbfb8"]]},{"id":"cccfa48a.9bbfb8","type":"DB2 for i","z":"96b48d07.77ebd8","mydb":"1ffd3699.664899","name":"Local_DB","arraymode":true,"x":485,"y":919,"wires":[["f67ef938.aad36"]]},{"id":"f67ef938.aad36","type":"ui_table","z":"96b48d07.77ebd8","group":"27537136.147efe","name":"Job Queues with Active Jobs","order":4,"width":"12","height":"4","columns":[],"outputs":0,"cts":false,"x":740,"y":900,"wires":[]},{"id":"82107b9.2520b88","type":"inject","z":"96b48d07.77ebd8","name":"Disabled Users","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":"5.1","topic":"DisabledUsers","payload":"select AUTHORIZATION_NAME,to_char(PREVIOUS_SIGNON, 'dd Month yyyy hh24:miAM') as PREVIOUS_SIGNON,TEXT_DESCRIPTION from QSYS2.USER_INFO where STATUS = '*DISABLED' order by AUTHORIZATION_NAME;","payloadType":"str","x":270,"y":1053,"wires":[["6fb0e00e.7208c"]]},{"id":"6fb0e00e.7208c","type":"DB2 for i","z":"96b48d07.77ebd8","mydb":"1ffd3699.664899","name":"Local_DB","arraymode":true,"x":485,"y":1032,"wires":[["37ff034a.7aeb84"]]},{"id":"37ff034a.7aeb84","type":"ui_table","z":"96b48d07.77ebd8","group":"27537136.147efe","name":"Disabled Users","order":8,"width":"12","height":"4","columns":[],"outputs":1,"cts":true,"x":700,"y":1013,"wires":[["639b9356.2dd72c","c68a64d0.063d78"]],"inputLabels":["Test"]},{"id":"accd3ffe.53075","type":"inject","z":"96b48d07.77ebd8","name":"Subsystems Active","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"5.1","topic":"Subsystems","payload":"select distinct concat(concat('<b>',subsystem_description),'</b>') as \"title\",text_description as \"description\",     case when status = 'ACTIVE' THEN 'swap_horiz'         when status = 'INACTIVE' THEN 'highlight_off'         END as \"icon_name\",         status       from qsys2.subsystem_info order by status, \"title\";","payloadType":"str","x":223,"y":212,"wires":[["2100fd8a.5bd5d2"]]},{"id":"2100fd8a.5bd5d2","type":"DB2 for i","z":"96b48d07.77ebd8","mydb":"1ffd3699.664899","name":"Local_DB","arraymode":true,"x":423,"y":192,"wires":[["7ef6c176.c5d6e8"]]},{"id":"7ef6c176.c5d6e8","type":"ui_list","z":"96b48d07.77ebd8","group":"e348f2a4.8e18d8","name":"Subsystems","order":5,"width":0,"height":0,"lineType":"two","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":830,"y":120,"wires":[[]]},{"id":"6190994b.643fa8","type":"inject","z":"96b48d07.77ebd8","name":"Job Queues with Jobs Waiting","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":true,"onceDelay":"5.1","topic":"Queues with Jobs Waiting","payload":"select JOB_QUEUE_NAME, NUMBER_OF_JOBS, TEXT_DESCRIPTION from QSYS2.JOB_QUEUE_INFO where NUMBER_OF_JOBS > 0 order by JOB_QUEUE_NAME","payloadType":"str","x":230,"y":1000,"wires":[["e77a827d.b1e13"]]},{"id":"e77a827d.b1e13","type":"DB2 for i","z":"96b48d07.77ebd8","mydb":"1ffd3699.664899","name":"Local_DB","arraymode":true,"x":485,"y":979,"wires":[["f17a09d3.c22538"]]},{"id":"f17a09d3.c22538","type":"ui_table","z":"96b48d07.77ebd8","group":"27537136.147efe","name":"Job Queues with Jobs Waiting","order":6,"width":"12","height":"4","columns":[],"outputs":0,"cts":false,"x":750,"y":960,"wires":[]},{"id":"22f3bb2e.5369a4","type":"inject","z":"96b48d07.77ebd8","name":"Users with Invalid Sign on Attempts","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":true,"onceDelay":"5.1","topic":"Invalid_Users","payload":"SELECT J.AUTHORIZATION_NAME, J.SIGN_ON_ATTEMPTS_NOT_VALID,J.* FROM QSYS2.USER_INFO J WHERE J.SIGN_ON_ATTEMPTS_NOT_VALID > 0;","payloadType":"str","x":230,"y":680,"wires":[["4dc913b7.307b54"]]},{"id":"4dc913b7.307b54","type":"DB2 for i","z":"96b48d07.77ebd8","mydb":"1ffd3699.664899","name":"Local_DB","arraymode":true,"x":489,"y":663,"wires":[["b2ecfc35.a767c"]]},{"id":"b2ecfc35.a767c","type":"function","z":"96b48d07.77ebd8","name":"Prepare Data","func":"var m = {};\n\nm.series =[];\nm.data=[];\nm.labels=[];\nvar datatemp=[]; \nmsg.payload.forEach(function(row) {\n    datatemp.push(parseInt(row.SIGN_ON_ATTEMPTS_NOT_VALID));\n    m.labels.push(row.AUTHORIZATION_NAME);\n});\nm.data.push(datatemp);\nm.series.push(\"Invalid Sign on Attempts\");\n\nreturn {payload:[m]};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":685,"y":638,"wires":[["eae49763.30c398"]]},{"id":"eae49763.30c398","type":"ui_chart","z":"96b48d07.77ebd8","name":"","group":"24152ea0.f54a12","order":5,"width":"0","height":"0","label":"Invalid Sign on Attempts","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":929,"y":618,"wires":[[]]},{"id":"d29266a6.ed1a9","type":"inject","z":"96b48d07.77ebd8","name":"Top 10 Spool Storage consumers","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"5.1","topic":"Spool","payload":"SELECT USER_NAME, SUM(SIZE) AS TOTAL_SPOOL_SPACE   FROM QSYS2.OUTPUT_QUEUE_ENTRIES_BASIC   WHERE USER_NAME NOT LIKE 'Q%'   GROUP BY USER_NAME   ORDER BY TOTAL_SPOOL_SPACE DESC LIMIT 10;","payloadType":"str","x":220,"y":740,"wires":[["c5c8b11b.d6a5c"]]},{"id":"c5c8b11b.d6a5c","type":"DB2 for i","z":"96b48d07.77ebd8","mydb":"1ffd3699.664899","name":"Local_DB","arraymode":true,"x":489,"y":723,"wires":[["183c5e6c.0ed5e2"]]},{"id":"183c5e6c.0ed5e2","type":"function","z":"96b48d07.77ebd8","name":"Prepare Data","func":"var m = {};\n\nm.series =[];\nm.data=[];\nm.labels=[];\nvar datatemp=[]; \nmsg.payload.forEach(function(row) {\n    datatemp.push(parseInt(row.TOTAL_SPOOL_SPACE));\n    m.labels.push(row.USER_NAME);\n});\nm.data.push(datatemp);\nm.series.push(\"Spool storage usage\");\n\nreturn {payload:[m]};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":685,"y":698,"wires":[["e75e008e.391bd8"]]},{"id":"e75e008e.391bd8","type":"ui_chart","z":"96b48d07.77ebd8","name":"","group":"24152ea0.f54a12","order":4,"width":"5","height":"5","label":"Top 10 Spool Storage","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":919,"y":678,"wires":[[]]},{"id":"5adf80fc.5b8038","type":"inject","z":"96b48d07.77ebd8","name":"Work Problem","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"5.1","topic":"","payload":"select COUNT(wsxpid) as System_Problem FROM QUSRSYS.QASXPROB WHERE WSXPST <> 'C';","payloadType":"str","x":240,"y":140,"wires":[["f819a512.41b37"]]},{"id":"f819a512.41b37","type":"DB2 for i","z":"96b48d07.77ebd8","mydb":"1ffd3699.664899","name":"Local_DB","arraymode":false,"x":423,"y":112,"wires":[["7c8c451e.1c3714"]]},{"id":"6decb24.6af114c","type":"ui_switch","z":"96b48d07.77ebd8","name":"","label":"Work Problem Status","tooltip":"Warning Sign means there is an issue on the system. Type WRKPRB on a command line to review.","group":"e348f2a4.8e18d8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"report_problem","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"check","offcolor":"green","x":860,"y":60,"wires":[[]]},{"id":"7c8c451e.1c3714","type":"function","z":"96b48d07.77ebd8","name":"","func":"var value = parseInt(msg.payload.SYSTEM_PROBLEM);\nreturn {payload:value};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":80,"wires":[["6decb24.6af114c"]]},{"id":"9c0ddf4f.90577","type":"ui_text","z":"96b48d07.77ebd8","group":"e348f2a4.8e18d8","order":4,"width":0,"height":0,"name":"Subsystems","label":"","format":"Subsystems","layout":"row-left","x":630,"y":140,"wires":[]},{"id":"54149c8e.70f134","type":"summariser","z":"96b48d07.77ebd8","name":"","input":"payload","inputType":"msg","output":"payload","label":"","topic":"","outputs":1,"rules":[{"field":"ELAPSED_CPU_PERCENTAGE","op":"sum","sep":","}],"x":670,"y":420,"wires":[["b34e96b4.1b7d6"]]},{"id":"b34e96b4.1b7d6","type":"ui_gauge","z":"96b48d07.77ebd8","name":"Total CPU","group":"e348f2a4.8e18d8","order":3,"width":"4","height":"4","gtype":"donut","title":"Total CPU Usage","label":"%","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":890,"y":400,"wires":[]},{"id":"639b9356.2dd72c","type":"debug","z":"96b48d07.77ebd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":1020,"wires":[]},{"id":"c68a64d0.063d78","type":"function","z":"96b48d07.77ebd8","name":"","func":"msg.chgcmd = 'CHGUSRPRF USRPRF(' + msg.payload.AUTHORIZATION_NAME + ') ' +\n              'STATUS(*ENABLED)';\n\n//msg.payload = \"SELECT NO_PASSWORD_INDICATOR \" +\n//              \"FROM QSYS2.USER_INFO  WHERE AUTHORIZATION_NAME = UCASE('\" +\n//               msg.payload.context.userprf + \"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1080,"wires":[["ede260ce.0fb7f","1fd32573.f3f03b"]]},{"id":"2848f6a7.973ac2","type":"function","z":"96b48d07.77ebd8","name":"","func":"var pwdrd = ' PASSWORD(' + msg.payload + ')\"';\n\nmsg.payload = '\"' + msg.chgcmd + '' + pwdrd.replace(/^\"(.*)\"$/, '$1') + '';\ndelete msg.chgcmd;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1100,"wires":[["e460a0e.013d8e","8db00fb0.1874b8"]]},{"id":"8db00fb0.1874b8","type":"exec","z":"96b48d07.77ebd8","command":"system -i","addpay":true,"append":"","useSpawn":"false","timer":"120","oldrc":false,"name":"Execute System Command","x":1400,"y":1100,"wires":[["c42c1ec.30a64e","9e4d722b.69d59","297b3391.7f5e74"],["7a63b3c6.0da734","297b3391.7f5e74"],["e5084663.028ab8"]]},{"id":"ede260ce.0fb7f","type":"debug","z":"96b48d07.77ebd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1020,"wires":[]},{"id":"9d52bc11.586d68","type":"debug","z":"96b48d07.77ebd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1710,"y":1220,"wires":[]},{"id":"c42c1ec.30a64e","type":"debug","z":"96b48d07.77ebd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":980,"wires":[]},{"id":"b93a33f8.a1ae38","type":"ui_toast","z":"96b48d07.77ebd8","position":"dialog","displayTime":"20","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Execution Status:","name":"","x":1750,"y":940,"wires":[[]]},{"id":"297b3391.7f5e74","type":"function","z":"96b48d07.77ebd8","name":"","func":"// call this GetRelevantIbmMessage instead of Function\n// Pipe msg to this\n// It will return 'This is the error message you're looking for' in msg.payload\nconst lines = msg.payload.split(\"\\n\");\nconst messages = [];\nlet parts = [];\nfor (const line of lines) {\n    parts = line.split(\":\");\n    messages.push({code: parts[0], message: parts[1]});\n}\nmsg.payload = messages[1].message.trim();\n\nreturn msg;\n\n\n//if (msg.payload.match(\"CPC2205([^\\:])*\")) {\n//    msg.payload = \"User Profile Enabled\"\n//} else {\n//    msg.payload = \"User Profile not Enabled. Check password and try again.\"\n//}\n\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1660,"y":1140,"wires":[["9d52bc11.586d68","b93a33f8.a1ae38"]]},{"id":"f47614f9.85ff9","type":"ui_text","z":"96b48d07.77ebd8","group":"27537136.147efe","order":3,"width":0,"height":0,"name":"Job Queues with Active Jobs","label":"","format":"Job Queues with Active Jobs","layout":"row-left","x":1000,"y":900,"wires":[]},{"id":"d916b9df.c89bb","type":"ui_text","z":"96b48d07.77ebd8","group":"27537136.147efe","order":5,"width":0,"height":0,"name":"Job Queues with Jobs Waiting","label":"","format":"Job Queues with Jobs Waiting","layout":"row-left","x":1030,"y":960,"wires":[]},{"id":"684443c8.90bb4c","type":"ui_text","z":"96b48d07.77ebd8","group":"27537136.147efe","order":7,"width":0,"height":0,"name":"Disabled Users","label":"","format":"Disabled Users","layout":"row-left","x":740,"y":1060,"wires":[]},{"id":"bd727aba.9bf74","type":"ui_text","z":"96b48d07.77ebd8","group":"27537136.147efe","order":1,"width":0,"height":0,"name":"Scheduled Jobs","label":"","format":"Scheduled Jobs for Current Day","layout":"row-left","x":980,"y":840,"wires":[]},{"id":"1fd32573.f3f03b","type":"ui_toast","z":"96b48d07.77ebd8","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"topic":"Enter password and click okay to continue:","name":"Enable User?","x":820,"y":1140,"wires":[["3356c58e.2d2b22","5baf74ff.f4aedc"]]},{"id":"3356c58e.2d2b22","type":"debug","z":"96b48d07.77ebd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":1240,"wires":[]},{"id":"5baf74ff.f4aedc","type":"switch","z":"96b48d07.77ebd8","name":"OK?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":1180,"wires":[["a8a4629f.c4b138","2848f6a7.973ac2"]]},{"id":"a8a4629f.c4b138","type":"debug","z":"96b48d07.77ebd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1220,"wires":[]},{"id":"e460a0e.013d8e","type":"debug","z":"96b48d07.77ebd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":1180,"wires":[]},{"id":"9e4d722b.69d59","type":"switch","z":"96b48d07.77ebd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"payload.match(\"CPC2205([^\\:])*\"","vt":"msg"},{"t":"eq","v":"payload.match(\"CPF22F5([^\\:])*\"","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1820,"y":1120,"wires":[["b931a895.90f63"],["a70dfac0.24cbf8"],["438f212c.43c25"]]},{"id":"b931a895.90f63","type":"debug","z":"96b48d07.77ebd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2010,"y":1060,"wires":[]},{"id":"438f212c.43c25","type":"debug","z":"96b48d07.77ebd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2010,"y":1180,"wires":[]},{"id":"7a63b3c6.0da734","type":"debug","z":"96b48d07.77ebd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1650,"y":1260,"wires":[]},{"id":"e5084663.028ab8","type":"debug","z":"96b48d07.77ebd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":1300,"wires":[]},{"id":"a70dfac0.24cbf8","type":"debug","z":"96b48d07.77ebd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2010,"y":1120,"wires":[]},{"id":"24152ea0.f54a12","type":"ui_group","z":"","name":"Top consumers","tab":"ee3e419a.6e2d38","order":2,"disp":true,"width":"10","collapse":true},{"id":"e348f2a4.8e18d8","type":"ui_group","z":"","name":"Status","tab":"ee3e419a.6e2d38","order":1,"disp":true,"width":"10","collapse":true},{"id":"1ffd3699.664899","type":"DB2 for i Config","z":"","cnnname":"%system_name%","db":"*LOCAL","keepalive":true},{"id":"27537136.147efe","type":"ui_group","z":"","name":"Table Data","tab":"ee3e419a.6e2d38","order":3,"disp":true,"width":"12","collapse":true},{"id":"ee3e419a.6e2d38","type":"ui_tab","z":"","name":"LocalSys","icon":"dashboard","order":2,"disabled":false,"hidden":false}]