admin-dashboard/admindashboard.json
[
    {
        "id": "55102758.72fe98",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d6d04246.043228",
        "type": "ui_chart",
        "z": "55102758.72fe98",
        "name": "",
        "group": "24152ea0.f54a12",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Top 10 CPU (%)",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 880,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "573a5509.0efd04",
        "type": "inject",
        "z": "55102758.72fe98",
        "name": "Top 10 CPU consumers",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SELECT JOB_NAME, ELAPSED_CPU_PERCENTAGE     FROM TABLE(ACTIVE_JOB_INFO()) x     ORDER BY ELAPSED_CPU_PERCENTAGE DESC     FETCH FIRST 10 ROWS ONLY;",
        "payloadType": "str",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "d14a5b2a.ba60b8"
            ]
        ]
    },
    {
        "id": "245059b9.fb47c6",
        "type": "function",
        "z": "55102758.72fe98",
        "name": "Prepare Data",
        "func": "var m = {};\n\nm.series =[];\nm.data=[];\nm.labels=[];\nvar datatemp=[]; \nmsg.payload.forEach(function(row) {\n    datatemp.push(parseFloat(row.ELAPSED_CPU_PERCENTAGE) * 10);\n    m.labels.push(row.JOB_NAME);\n});\nm.data.push(datatemp);\nm.series.push(\"CPU usage\");\n\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "x": 666,
        "y": 380,
        "wires": [
            [
                "d6d04246.043228"
            ]
        ]
    },
    {
        "id": "5336e9ab.0578b",
        "type": "ui_chart",
        "z": "55102758.72fe98",
        "name": "",
        "group": "24152ea0.f54a12",
        "order": 3,
        "width": "5",
        "height": "5",
        "label": "Top 10 ASP Storage",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "0",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 898,
        "y": 419,
        "wires": [
            []
        ]
    },
    {
        "id": "cc0bb852.9e5d4",
        "type": "inject",
        "z": "55102758.72fe98",
        "name": "Top 10 Storage consumers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "2.1",
        "topic": "Storage",
        "payload": "SELECT A.AUTHORIZATION_NAME, SUM(A.STORAGE_USED) AS TOTAL_STORAGE_USED, B.TEXT_DESCRIPTION,     B.ACCOUNTING_CODE, B.MAXIMUM_ALLOWED_STORAGE     FROM QSYS2.USER_STORAGE A INNER     JOIN QSYS2.USER_INFO B ON B.USER_NAME = A.AUTHORIZATION_NAME     WHERE B.USER_NAME NOT LIKE 'Q%'     GROUP BY A.AUTHORIZATION_NAME, B.TEXT_DESCRIPTION, B.ACCOUNTING_CODE, B.MAXIMUM_ALLOWED_STORAGE     ORDER BY TOTAL_STORAGE_USED DESC     FETCH FIRST 10 ROWS ONLY;",
        "payloadType": "str",
        "x": 220,
        "y": 480,
        "wires": [
            [
                "238c3e15.abc9da"
            ]
        ]
    },
    {
        "id": "1b61bc82.c1b6fb",
        "type": "function",
        "z": "55102758.72fe98",
        "name": "Prepare Data",
        "func": "var m = {};\n\nm.series =[];\nm.data=[];\nm.labels=[];\nvar datatemp=[]; \nmsg.payload.forEach(function(row) {\n    datatemp.push(parseInt(row.TOTAL_STORAGE_USED));\n    m.labels.push(row.AUTHORIZATION_NAME);\n});\nm.data.push(datatemp);\nm.series.push(\"Storage usage\");\n\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "x": 664,
        "y": 439,
        "wires": [
            [
                "5336e9ab.0578b"
            ]
        ]
    },
    {
        "id": "a74f69b8.6aedc",
        "type": "ui_chart",
        "z": "55102758.72fe98",
        "name": "",
        "group": "24152ea0.f54a12",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Top 10 Temp Storage (MB)",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 919,
        "y": 477,
        "wires": [
            []
        ]
    },
    {
        "id": "cbe93654.9d5338",
        "type": "inject",
        "z": "55102758.72fe98",
        "name": "Top 10 Temp Storage consumers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "5.1",
        "topic": "Memory",
        "payload": "SELECT JOB_NAME, AUTHORIZATION_NAME, TEMPORARY_STORAGE, J.*     FROM TABLE(QSYS2.ACTIVE_JOB_INFO()) J     WHERE JOB_TYPE <> 'SYS'     ORDER BY TEMPORARY_STORAGE DESC LIMIT 10;",
        "payloadType": "str",
        "x": 200,
        "y": 539,
        "wires": [
            [
                "c171acb1.08aa4"
            ]
        ]
    },
    {
        "id": "c0e9d322.d57fa8",
        "type": "function",
        "z": "55102758.72fe98",
        "name": "Prepare Data",
        "func": "var m = {};\n\nm.series =[];\nm.data=[];\nm.labels=[];\nvar datatemp=[]; \nmsg.payload.forEach(function(row) {\n    datatemp.push(parseInt(row.TEMPORARY_STORAGE));\n    m.labels.push(row.JOB_NAME);\n});\nm.data.push(datatemp);\nm.series.push(\"Temp storage usage\");\n\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "x": 665,
        "y": 497,
        "wires": [
            [
                "a74f69b8.6aedc"
            ]
        ]
    },
    {
        "id": "48a98bed.8e8484",
        "type": "ui_gauge",
        "z": "55102758.72fe98",
        "name": "ASP",
        "group": "e348f2a4.8e18d8",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "donut",
        "title": "ASP Usage",
        "label": "%",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "90",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "664e75fb.326cf4",
        "type": "inject",
        "z": "55102758.72fe98",
        "name": "ASP Usage",
        "props": [
            {
                "p": "payload",
                "v": "WITH sysval(low_limit)     AS (SELECT current_numeric_value / 10000.0 AS QSTGLOWLMT             FROM qsys2.system_value_info             WHERE system_value_name = 'QSTGLOWLMT')     SELECT SYSTEM_ASP_USED FROM sysval, qsys2.SYSTEM_STATUS_INFO;",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "ASP",
                "vt": "string"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "ASP",
        "payload": "WITH sysval(low_limit)     AS (SELECT current_numeric_value / 10000.0 AS QSTGLOWLMT             FROM qsys2.system_value_info             WHERE system_value_name = 'QSTGLOWLMT')     SELECT SYSTEM_ASP_USED FROM sysval, qsys2.SYSTEM_STATUS_INFO;",
        "payloadType": "str",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "2482abbd.7f1c6c"
            ]
        ]
    },
    {
        "id": "2482abbd.7f1c6c",
        "type": "DB2 for i",
        "z": "55102758.72fe98",
        "mydb": "1ffd3699.664899",
        "name": "Local_DB",
        "arraymode": true,
        "x": 452,
        "y": 245,
        "wires": [
            [
                "c93de9bc.561a58"
            ]
        ]
    },
    {
        "id": "c93de9bc.561a58",
        "type": "function",
        "z": "55102758.72fe98",
        "name": "Prepare Data",
        "func": "var value = parseInt(msg.payload[0].SYSTEM_ASP_USED);\nreturn {payload:[value]};",
        "outputs": 1,
        "noerr": 0,
        "x": 645,
        "y": 220,
        "wires": [
            [
                "48a98bed.8e8484"
            ]
        ]
    },
    {
        "id": "c171acb1.08aa4",
        "type": "DB2 for i",
        "z": "55102758.72fe98",
        "mydb": "1ffd3699.664899",
        "name": "Local_DB",
        "arraymode": true,
        "x": 469,
        "y": 522,
        "wires": [
            [
                "c0e9d322.d57fa8"
            ]
        ]
    },
    {
        "id": "238c3e15.abc9da",
        "type": "DB2 for i",
        "z": "55102758.72fe98",
        "mydb": "1ffd3699.664899",
        "name": "Local_DB",
        "arraymode": true,
        "x": 468,
        "y": 464,
        "wires": [
            [
                "1b61bc82.c1b6fb"
            ]
        ]
    },
    {
        "id": "f8b51a52.3bc1e",
        "type": "inject",
        "z": "55102758.72fe98",
        "name": "Scheduled Jobs for Current Day",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "5.1",
        "topic": "Scheduled Jobs",
        "payload": "SELECT SCHEDULED_JOB_NAME,DESCRIPTION,SCHEDULED_TIME,COMMAND_STRING      FROM QSYS2.SCHEDULED_JOB_INFO      WHERE STATUS = 'SCHEDULED' and NEXT_SUBMISSION_DATE >= current date and SCHEDULED_TIME > current time     order by SCHEDULED_DATE,SCHEDULED_TIME;",
        "payloadType": "str",
        "x": 200,
        "y": 800,
        "wires": [
            [
                "ef655996.256418"
            ]
        ]
    },
    {
        "id": "ef655996.256418",
        "type": "DB2 for i",
        "z": "55102758.72fe98",
        "mydb": "1ffd3699.664899",
        "name": "Local_DB",
        "arraymode": true,
        "x": 465,
        "y": 779,
        "wires": [
            [
                "e1603ffb.672748"
            ]
        ]
    },
    {
        "id": "e1603ffb.672748",
        "type": "ui_table",
        "z": "55102758.72fe98",
        "group": "27537136.147efe",
        "name": "Scheduled Jobs for Current Day",
        "order": 2,
        "width": "12",
        "height": "4",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 730,
        "y": 760,
        "wires": []
    },
    {
        "id": "268cc955.e97366",
        "type": "inject",
        "z": "55102758.72fe98",
        "name": "Job Queues with Active Jobs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "5.1",
        "topic": "Queues with Active Jobs",
        "payload": "select JOB_QUEUE_NAME, ACTIVE_JOBS, TEXT_DESCRIPTION from QSYS2.JOB_QUEUE_INFO where ACTIVE_JOBS > 0 order by JOB_QUEUE_NAME",
        "payloadType": "str",
        "x": 210,
        "y": 860,
        "wires": [
            [
                "49583787.1b0418"
            ]
        ]
    },
    {
        "id": "49583787.1b0418",
        "type": "DB2 for i",
        "z": "55102758.72fe98",
        "mydb": "1ffd3699.664899",
        "name": "Local_DB",
        "arraymode": true,
        "x": 465,
        "y": 839,
        "wires": [
            [
                "8b3e5c16.929338"
            ]
        ]
    },
    {
        "id": "8b3e5c16.929338",
        "type": "ui_table",
        "z": "55102758.72fe98",
        "group": "27537136.147efe",
        "name": "Job Queues with Active Jobs",
        "order": 4,
        "width": "12",
        "height": "4",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 720,
        "y": 820,
        "wires": []
    },
    {
        "id": "8445d4da.8e4078",
        "type": "inject",
        "z": "55102758.72fe98",
        "name": "Disabled Users",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "5.1",
        "topic": "DisabledUsers",
        "payload": "select AUTHORIZATION_NAME,to_char(PREVIOUS_SIGNON, 'dd Month yyyy hh24:miAM') as PREVIOUS_SIGNON,TEXT_DESCRIPTION from QSYS2.USER_INFO where STATUS = '*DISABLED' order by AUTHORIZATION_NAME;",
        "payloadType": "str",
        "x": 250,
        "y": 973,
        "wires": [
            [
                "f3a916c1.762278"
            ]
        ]
    },
    {
        "id": "f3a916c1.762278",
        "type": "DB2 for i",
        "z": "55102758.72fe98",
        "mydb": "1ffd3699.664899",
        "name": "Local_DB",
        "arraymode": true,
        "x": 465,
        "y": 952,
        "wires": [
            [
                "ed6e39df.5be19"
            ]
        ]
    },
    {
        "id": "ed6e39df.5be19",
        "type": "ui_table",
        "z": "55102758.72fe98",
        "group": "27537136.147efe",
        "name": "Disabled Users",
        "order": 8,
        "width": "12",
        "height": "4",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 680,
        "y": 933,
        "wires": [
            [
                "8e2725af.62e058",
                "40df2421.4455b4"
            ]
        ],
        "inputLabels": [
            "Test"
        ]
    },
    {
        "id": "5acfc99c.18ad6",
        "type": "inject",
        "z": "55102758.72fe98",
        "name": "Subsystems Active",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5.1",
        "topic": "Subsystems",
        "payload": "select distinct concat(concat('<b>',subsystem_description),'</b>') as \"title\",text_description as \"description\",     case when status = 'ACTIVE' THEN 'swap_horiz'         when status = 'INACTIVE' THEN 'highlight_off'         END as \"icon_name\",         status       from qsys2.subsystem_info order by status, \"title\";",
        "payloadType": "str",
        "x": 243,
        "y": 212,
        "wires": [
            [
                "5cbe12c7.d1ff3c"
            ]
        ]
    },
    {
        "id": "5cbe12c7.d1ff3c",
        "type": "DB2 for i",
        "z": "55102758.72fe98",
        "mydb": "1ffd3699.664899",
        "name": "Local_DB",
        "arraymode": true,
        "x": 443,
        "y": 192,
        "wires": [
            [
                "b2fe341d.e0aa48"
            ]
        ]
    },
    {
        "id": "b2fe341d.e0aa48",
        "type": "ui_list",
        "z": "55102758.72fe98",
        "group": "e348f2a4.8e18d8",
        "name": "Subsystems",
        "order": 5,
        "width": 0,
        "height": 0,
        "lineType": "two",
        "actionType": "click",
        "allowHTML": true,
        "outputs": 1,
        "topic": "",
        "x": 850,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fd952907.da2d98",
        "type": "inject",
        "z": "55102758.72fe98",
        "name": "Job Queues with Jobs Waiting",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "5.1",
        "topic": "Queues with Jobs Waiting",
        "payload": "select JOB_QUEUE_NAME, NUMBER_OF_JOBS, TEXT_DESCRIPTION from QSYS2.JOB_QUEUE_INFO where NUMBER_OF_JOBS > 0 order by JOB_QUEUE_NAME",
        "payloadType": "str",
        "x": 210,
        "y": 920,
        "wires": [
            [
                "35c85595.c7d46a"
            ]
        ]
    },
    {
        "id": "35c85595.c7d46a",
        "type": "DB2 for i",
        "z": "55102758.72fe98",
        "mydb": "1ffd3699.664899",
        "name": "Local_DB",
        "arraymode": true,
        "x": 465,
        "y": 899,
        "wires": [
            [
                "3d4cd38a.263eec"
            ]
        ]
    },
    {
        "id": "3d4cd38a.263eec",
        "type": "ui_table",
        "z": "55102758.72fe98",
        "group": "27537136.147efe",
        "name": "Job Queues with Jobs Waiting",
        "order": 6,
        "width": "12",
        "height": "4",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 730,
        "y": 880,
        "wires": []
    },
    {
        "id": "37439cdb.08c804",
        "type": "inject",
        "z": "55102758.72fe98",
        "name": "Users with Invalid Sign on Attempts",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": "5.1",
        "topic": "Invalid_Users",
        "payload": "SELECT J.AUTHORIZATION_NAME, J.SIGN_ON_ATTEMPTS_NOT_VALID,J.* FROM QSYS2.USER_INFO J WHERE J.SIGN_ON_ATTEMPTS_NOT_VALID > 0;",
        "payloadType": "str",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "bf86cdad.f71dd8"
            ]
        ]
    },
    {
        "id": "bf86cdad.f71dd8",
        "type": "DB2 for i",
        "z": "55102758.72fe98",
        "mydb": "1ffd3699.664899",
        "name": "Local_DB",
        "arraymode": true,
        "x": 469,
        "y": 583,
        "wires": [
            [
                "95f29be0.da758"
            ]
        ]
    },
    {
        "id": "95f29be0.da758",
        "type": "function",
        "z": "55102758.72fe98",
        "name": "Prepare Data",
        "func": "var m = {};\n\nm.series =[];\nm.data=[];\nm.labels=[];\nvar datatemp=[]; \nmsg.payload.forEach(function(row) {\n    datatemp.push(parseInt(row.SIGN_ON_ATTEMPTS_NOT_VALID));\n    m.labels.push(row.AUTHORIZATION_NAME);\n});\nm.data.push(datatemp);\nm.series.push(\"Invalid Sign on Attempts\");\n\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 665,
        "y": 558,
        "wires": [
            [
                "b0549f58.c987f8"
            ]
        ]
    },
    {
        "id": "b0549f58.c987f8",
        "type": "ui_chart",
        "z": "55102758.72fe98",
        "name": "",
        "group": "24152ea0.f54a12",
        "order": 5,
        "width": "0",
        "height": "0",
        "label": "Invalid Sign on Attempts",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 909,
        "y": 538,
        "wires": [
            []
        ]
    },
    {
        "id": "61431b3.6c9d7e4",
        "type": "inject",
        "z": "55102758.72fe98",
        "name": "Top 10 Spool Storage consumers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "5.1",
        "topic": "Spool",
        "payload": "SELECT USER_NAME, SUM(SIZE) AS TOTAL_SPOOL_SPACE   FROM QSYS2.OUTPUT_QUEUE_ENTRIES_BASIC   WHERE USER_NAME NOT LIKE 'Q%'   GROUP BY USER_NAME   ORDER BY TOTAL_SPOOL_SPACE DESC LIMIT 10;",
        "payloadType": "str",
        "x": 200,
        "y": 660,
        "wires": [
            [
                "85ac6f67.a832e"
            ]
        ]
    },
    {
        "id": "85ac6f67.a832e",
        "type": "DB2 for i",
        "z": "55102758.72fe98",
        "mydb": "1ffd3699.664899",
        "name": "Local_DB",
        "arraymode": true,
        "x": 469,
        "y": 643,
        "wires": [
            [
                "e4f62648.fcc1d8"
            ]
        ]
    },
    {
        "id": "e4f62648.fcc1d8",
        "type": "function",
        "z": "55102758.72fe98",
        "name": "Prepare Data",
        "func": "var m = {};\n\nm.series =[];\nm.data=[];\nm.labels=[];\nvar datatemp=[]; \nmsg.payload.forEach(function(row) {\n    datatemp.push(parseInt(row.TOTAL_SPOOL_SPACE));\n    m.labels.push(row.USER_NAME);\n});\nm.data.push(datatemp);\nm.series.push(\"Spool storage usage\");\n\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 665,
        "y": 618,
        "wires": [
            [
                "e239a2af.a1a848"
            ]
        ]
    },
    {
        "id": "e239a2af.a1a848",
        "type": "ui_chart",
        "z": "55102758.72fe98",
        "name": "",
        "group": "24152ea0.f54a12",
        "order": 4,
        "width": "5",
        "height": "5",
        "label": "Top 10 Spool Storage",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 899,
        "y": 598,
        "wires": [
            []
        ]
    },
    {
        "id": "1871f86b.a0f8b8",
        "type": "inject",
        "z": "55102758.72fe98",
        "name": "Work Problem",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5.1",
        "topic": "",
        "payload": "select COUNT(wsxpid) as System_Problem FROM QUSRSYS.QASXPROB WHERE WSXPST <> 'C';",
        "payloadType": "str",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "2e30d04d.c3b"
            ]
        ]
    },
    {
        "id": "2e30d04d.c3b",
        "type": "DB2 for i",
        "z": "55102758.72fe98",
        "mydb": "1ffd3699.664899",
        "name": "Local_DB",
        "arraymode": false,
        "x": 443,
        "y": 112,
        "wires": [
            [
                "f7d9a1b1.cdd008"
            ]
        ]
    },
    {
        "id": "c39d603b.aaaa98",
        "type": "ui_switch",
        "z": "55102758.72fe98",
        "name": "",
        "label": "Work Problem Status",
        "tooltip": "Warning Sign means there is an issue on the system. Type WRKPRB on a command line to review.",
        "group": "e348f2a4.8e18d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "report_problem",
        "oncolor": "red",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "check",
        "offcolor": "green",
        "x": 880,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f7d9a1b1.cdd008",
        "type": "function",
        "z": "55102758.72fe98",
        "name": "",
        "func": "var value = parseInt(msg.payload.SYSTEM_PROBLEM);\nreturn {payload:value};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 80,
        "wires": [
            [
                "c39d603b.aaaa98"
            ]
        ]
    },
    {
        "id": "46f98921.4c48a8",
        "type": "ui_text",
        "z": "55102758.72fe98",
        "group": "e348f2a4.8e18d8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Subsystems",
        "label": "",
        "format": "Subsystems",
        "layout": "row-left",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "2e5713bb.bf9444",
        "type": "ui_gauge",
        "z": "55102758.72fe98",
        "name": "Total CPU",
        "group": "e348f2a4.8e18d8",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "donut",
        "title": "Total CPU Usage",
        "label": "%",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "90",
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "8e2725af.62e058",
        "type": "debug",
        "z": "55102758.72fe98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 940,
        "wires": []
    },
    {
        "id": "40df2421.4455b4",
        "type": "function",
        "z": "55102758.72fe98",
        "name": "",
        "func": "msg.chgcmd = 'CHGUSRPRF USRPRF(' + msg.payload.AUTHORIZATION_NAME + ') ' +\n              'STATUS(*ENABLED)';\n\n//msg.payload = \"SELECT NO_PASSWORD_INDICATOR \" +\n//              \"FROM QSYS2.USER_INFO  WHERE AUTHORIZATION_NAME = UCASE('\" +\n//               msg.payload.context.userprf + \"')\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 1000,
        "wires": [
            [
                "bc9d080b.330158",
                "11a58edc.0973f9"
            ]
        ]
    },
    {
        "id": "5a030a1d.55f5f4",
        "type": "function",
        "z": "55102758.72fe98",
        "name": "",
        "func": "var pwdrd = ' PASSWORD(' + msg.payload + ')\"';\n\nmsg.payload = '\"' + msg.chgcmd + '' + pwdrd.replace(/^\"(.*)\"$/, '$1') + '';\ndelete msg.chgcmd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1140,
        "y": 1020,
        "wires": [
            [
                "14942919.959c2f",
                "99b2242.8886a58"
            ]
        ]
    },
    {
        "id": "99b2242.8886a58",
        "type": "exec",
        "z": "55102758.72fe98",
        "command": "system -i",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "120",
        "oldrc": false,
        "name": "Execute System Command",
        "x": 1380,
        "y": 1020,
        "wires": [
            [
                "56e988da.cccc48",
                "ae5474f6.7aac4",
                "4c1fccbc.6998f4"
            ],
            [
                "b388dbd8.c90448",
                "4c1fccbc.6998f4"
            ],
            [
                "5b58cca2.71f97c"
            ]
        ]
    },
    {
        "id": "bc9d080b.330158",
        "type": "debug",
        "z": "55102758.72fe98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 940,
        "wires": []
    },
    {
        "id": "11caa26d.5ac52e",
        "type": "debug",
        "z": "55102758.72fe98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 1140,
        "wires": []
    },
    {
        "id": "56e988da.cccc48",
        "type": "debug",
        "z": "55102758.72fe98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 900,
        "wires": []
    },
    {
        "id": "2dd390a6.79d5b",
        "type": "ui_toast",
        "z": "55102758.72fe98",
        "position": "dialog",
        "displayTime": "20",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "topic": "Execution Status:",
        "name": "",
        "x": 1730,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "4c1fccbc.6998f4",
        "type": "function",
        "z": "55102758.72fe98",
        "name": "",
        "func": "// call this GetRelevantIbmMessage instead of Function\n// Pipe msg to this\n// It will return 'This is the error message you're looking for' in msg.payload\nconst lines = msg.payload.split(\"\\n\");\nconst messages = [];\nlet parts = [];\nfor (const line of lines) {\n    parts = line.split(\":\");\n    messages.push({code: parts[0], message: parts[1]});\n}\nmsg.payload = messages[1].message.trim();\n\nreturn msg;\n\n\n//if (msg.payload.match(\"CPC2205([^\\:])*\")) {\n//    msg.payload = \"User Profile Enabled\"\n//} else {\n//    msg.payload = \"User Profile not Enabled. Check password and try again.\"\n//}\n\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1640,
        "y": 1060,
        "wires": [
            [
                "11caa26d.5ac52e",
                "2dd390a6.79d5b"
            ]
        ]
    },
    {
        "id": "722ff4fb.515104",
        "type": "ui_text",
        "z": "55102758.72fe98",
        "group": "27537136.147efe",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Job Queues with Active Jobs",
        "label": "",
        "format": "Job Queues with Active Jobs",
        "layout": "row-left",
        "x": 980,
        "y": 820,
        "wires": []
    },
    {
        "id": "83d5c77e.2220f8",
        "type": "ui_text",
        "z": "55102758.72fe98",
        "group": "27537136.147efe",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Job Queues with Jobs Waiting",
        "label": "",
        "format": "Job Queues with Jobs Waiting",
        "layout": "row-left",
        "x": 1010,
        "y": 880,
        "wires": []
    },
    {
        "id": "9235df8f.7b0bb8",
        "type": "ui_text",
        "z": "55102758.72fe98",
        "group": "27537136.147efe",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Disabled Users",
        "label": "",
        "format": "Disabled Users",
        "layout": "row-left",
        "x": 720,
        "y": 980,
        "wires": []
    },
    {
        "id": "ccee0b6d.779f9",
        "type": "ui_text",
        "z": "55102758.72fe98",
        "group": "27537136.147efe",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Scheduled Jobs",
        "label": "",
        "format": "Scheduled Jobs for Current Day",
        "layout": "row-left",
        "x": 960,
        "y": 760,
        "wires": []
    },
    {
        "id": "11a58edc.0973f9",
        "type": "ui_toast",
        "z": "55102758.72fe98",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": true,
        "topic": "Enter password and click okay to continue:",
        "name": "Enable User?",
        "x": 800,
        "y": 1060,
        "wires": [
            [
                "fb3bce44.59cf78",
                "77c26371.f1ac1c"
            ]
        ]
    },
    {
        "id": "fb3bce44.59cf78",
        "type": "debug",
        "z": "55102758.72fe98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 1160,
        "wires": []
    },
    {
        "id": "77c26371.f1ac1c",
        "type": "switch",
        "z": "55102758.72fe98",
        "name": "OK?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Cancel",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 1100,
        "wires": [
            [
                "563f001e.4a8b38",
                "5a030a1d.55f5f4"
            ]
        ]
    },
    {
        "id": "563f001e.4a8b38",
        "type": "debug",
        "z": "55102758.72fe98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 1140,
        "wires": []
    },
    {
        "id": "14942919.959c2f",
        "type": "debug",
        "z": "55102758.72fe98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ae5474f6.7aac4",
        "type": "switch",
        "z": "55102758.72fe98",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "payload.match(\"CPC2205([^\\:])*\"",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "payload.match(\"CPF22F5([^\\:])*\"",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1800,
        "y": 1040,
        "wires": [
            [
                "27d245be.fba372"
            ],
            [
                "951d8d3c.3d026"
            ],
            [
                "fc320146.094088"
            ]
        ]
    },
    {
        "id": "27d245be.fba372",
        "type": "debug",
        "z": "55102758.72fe98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1990,
        "y": 980,
        "wires": []
    },
    {
        "id": "fc320146.094088",
        "type": "debug",
        "z": "55102758.72fe98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1990,
        "y": 1100,
        "wires": []
    },
    {
        "id": "b388dbd8.c90448",
        "type": "debug",
        "z": "55102758.72fe98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 1180,
        "wires": []
    },
    {
        "id": "5b58cca2.71f97c",
        "type": "debug",
        "z": "55102758.72fe98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 1220,
        "wires": []
    },
    {
        "id": "951d8d3c.3d026",
        "type": "debug",
        "z": "55102758.72fe98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1990,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d14a5b2a.ba60b8",
        "type": "DB2 for i",
        "z": "55102758.72fe98",
        "mydb": "1ffd3699.664899",
        "name": "Local_DB",
        "arraymode": true,
        "x": 460,
        "y": 400,
        "wires": [
            [
                "245059b9.fb47c6",
                "69c2531.cee4cac"
            ]
        ]
    },
    {
        "id": "69c2531.cee4cac",
        "type": "summariser",
        "z": "55102758.72fe98",
        "name": "",
        "input": "payload",
        "inputType": "msg",
        "output": "payload",
        "label": "",
        "topic": "",
        "outputs": 1,
        "rules": [
            {
                "field": "ELAPSED_CPU_PERCENTAGE",
                "op": "sum",
                "sep": ","
            }
        ],
        "x": 650,
        "y": 340,
        "wires": [
            [
                "2e5713bb.bf9444"
            ]
        ]
    },
    {
        "id": "24152ea0.f54a12",
        "type": "ui_group",
        "name": "Top consumers",
        "tab": "ee3e419a.6e2d38",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "e348f2a4.8e18d8",
        "type": "ui_group",
        "name": "Status",
        "tab": "ee3e419a.6e2d38",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "1ffd3699.664899",
        "type": "DB2 for i Config",
        "cnnname": "SYSTEM",
        "db": "*LOCAL",
        "keepalive": true
    },
    {
        "id": "27537136.147efe",
        "type": "ui_group",
        "name": "Table Data",
        "tab": "ee3e419a.6e2d38",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "ee3e419a.6e2d38",
        "type": "ui_tab",
        "name": "LocalSys",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]